.box-shadow {
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  padding: 10px;
}

form p {
  margin: 0;
}

form input {
  margin: 0 0 10px 0;
  width: 100%
}

#chat {
  min-height: 50px;
  max-height: 400px;
  overflow-y: scroll;
  padding: 20px;
  position: relative;
}

#chat strong {
  color: blue;
}

#chat span {
  color: brown;
}

#chat i {
  color: green;
}