*{
  margin: 0;
  padding: 10px;
}

form p {
  margin: 0;
  font-style: bold;
  font-family: helvetica, arial, sans-serif;
}

form input {
  margin: 0 0 10px 0;
  width: 100%
}

#chat {
  min-height: 50px;
  max-height: 400px;
  overflow-y: scroll;
  padding: 20px;
  position: relative;
}

#chat strong {
  color: blue;
}

#chat span {
  color: rgb(248, 229, 20);
}

#chat i {
  color: green;
}