doctype html
html(lang="en")
  - const titlePage = "Signup";
  include layout/head.pug
  body
    h1 Registrate
    form(action="/signup" method="post") 
      input(type="email" name="username" placeholder="Email")
      input(type="password" name="password" placeholder="Contraseña")
      button(type="submit") Registrar usuario
    form(action="/redirect-login", method="post")
      button(type="submit") Iniciar sesión