<%- include("partials/header", {tituloWeb: "Productos"}) -%>
<%- include("partials/body") -%>
	<h1 class="col-12 text-center">Lista de productos</h1>
	<% response.forEach(element => { %>
		<%- include("partials/product", {
			nombre: element.nombre,
			imagen: element.imagen,
			precio: element.precio
		}) %>
	<% }); %>
<%- include("partials/footer") -%>