<h2 style='color: rgb(0, 0, 0)'>Historial</h2>

<% if (productos.length > 0){ %>
    <div class="table-responsive">
        <table class="table table-dark">
            <tr class="color: blue">
                 <th>Nombre</th>
                 <th>Precio</th>
                 <th>Imagen</th>
            </tr>
            <% for (const producto of productos) {%>
            <tr>
                <td><%=producto.nombre%></td>
                <td><%=producto.precio%></td>
                <td class="image" type="image"><%=producto.imagen%></td>
            </tr>
            <%};%>
        </table>
    </div>
<% } else{ %>
    <h3 class="alert alert-danger">No se encontraron productos</h3>
<% } %>